---
layout: ""
page_title: "Provider: Middesk"
description: |-
  The Middesk provider provides resources to interact with a Middesk API.
---

# Middesk Provider

The Middesk provider provides resources to interact with the Middesk API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
